################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PDV.Test/PDV.Test.UI/bin/Debug
/PDV.Test/QA.playlist
